#logoutBtn{
    display: none;
}

/* Loader Styling */

.boxLoading{    
    position: fixed;
    top: 45%;
    left: 47%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 70px;
    width: 70px;
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444; 
    animation-name: rotate-loader;
    animation-iteration-count: infinite;
    animation-duration: .75s;
    animation-timing-function: linear;    
}
  
  @keyframes rotate-loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media only screen and (max-width: 576px){
    
    .boxLoading{    
      position: fixed;
      top: 45%;
      left: 42%;      
      height: 35px;
      width: 35px;      
  }
  }

