html{
    height: 100%;
    width: 100%;
    margin: 0;
}
header{
    background-color: rosybrown;
}
body{
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
}
footer{
    background-color: rosybrown;
}
#main_Container{
    height: 100%;
    width: 100%;
}
#logo{
    height: 60px;
    width: 60px;
}
#radisson{
    height: 500px;
    width: 500px;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}
#form_div{
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
}
#info_div{
    margin: 1% 4% 2% 4%;
}
#fb{
    height: 20px;
    width: 22px;
}
#insta{
    height: 20px;
    width: 22px;
}
#twitter{
    height: 20px;
    width: 22px;
}