html{
    height: 100%;
    width: 100%;
    margin: 0;
}
header{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    background-color: rosybrown;
}
nav{
    position: fixed;
    right: 10px;
    top: 20px;
}
#nav_link{
    text-decoration: none;
    color: black;
}
body{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}
footer{
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;    
    background-color: rosybrown;
}
#main_Container{
    height: 100%;
    width: 100%;
}
.search{
    position: relative;
    padding: 10px;
    top: 45%;
    left: 37%;
    background-color: #f1f1f1;
    border: 1px transparent;
    border-radius: 12px;
    width: 25%;
}
#seach_bar{
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    height: 380px;
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;    
}
#city_tiles{
    margin-left: 20%;
    margin-right: 20%;
    
}
#logo{
    height: 60px;
    width: 60px;
}

#delhi, #goa, #hyderabad, #kolkata{
    height: 150px;
    width: 150px;
    padding: 4%;
    border-radius: 25%;
}

#fb, #insta, #twitter{
    height: 20px;
    width: 22px;
}
#view{
    text-decoration: none;
    position: relative;
    left: 47%;
    color: black;
}
#contact{
    text-decoration: none;
    color: black;
    position: fixed;
    bottom: 20px;
    left: 10px;
}
#copyright{
    position: fixed;
    bottom: 5px;
    left: 45%;
    font-size: 10px;
    color: black;
}
.social{
    position: fixed;
    right: 10px;
    bottom: 15px;
}

