html{
    height: 100%;
    width: 100%;
    margin: 0;
}
header{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    background-color: rosybrown;
}
nav{
    position: fixed;
    right: 10px;
    top: 20px;
}
.nav_link{
    text-decoration: none;
    color: black;
}

body{
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}

ul{
    list-style: none;
    width: 250px;
    margin: 0 auto;
}
.views{
    margin-top: 5%;
}

li{
    text-decoration: none;
    display: inline;
    margin: 3% 3% ;
    font-weight: 800;
}


footer{
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;    
    background-color: rosybrown;
}

#list_view, #lalit_div, #taj_div{
    margin: 3% 4%;
    width: 40%;
    margin-bottom: 4%;
    background-color: rgb(132, 136, 139);
    display: inline-block;
    max-width: 100%;
    color: black;    
}

#map_view{
    display: none;
    margin: 2%;
}
#map{
    position: relative;
    padding-bottom: 5%;
}

#main_Container{
    height: 100%;
    width: 100%;
}
#logo{
    height: 60px;
    width: 60px;
}
#radisson, #lalit, #taj{
    height: 200px;
    width: 250px;
}
#fb, #insta, #twitter{
    height: 20px;
    width: 22px;
}

#contact{
    text-decoration: none;
    color: black;
    position: fixed;
    bottom: 20px;
    left: 10px;
}
#copyright{
    position: fixed;
    bottom: 5px;
    left: 45%;
    font-size: 10px;
    color: black;
}
#social{
    position: fixed;
    right: 10px;
    bottom: 15px;
}


