html{
    height: 100%;
    width: 100%;
    margin: 0;
}
*{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: content-box;
}

h3{
    font-size: 18.75px;
}

p{
    font-size: 16px;
}

/* Header Styling */

#logo{
    margin-left: 1%;
    height: 60px;
    width: 60px;
}
header{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rosybrown;
}
nav{
    position: fixed;
    right: 1%;    
    margin-bottom: 2%;
}
.nav_link1{
    text-decoration: none;
    color: black;
}
.nav_link1:hover{
    color: black;
}

/* Modal Styling */


form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.form_grp{
    display: flex;
    flex-direction: row;    
    justify-content: flex-start;
    align-items: center;
      
}
.modal-footer1{
    display: flex;
    justify-content: center;
    align-content: center; 
    align-items: center;
}
.modal-footer2{
    display: flex;    
    justify-content: flex-end;
    align-content: flex-end;
}

label, input{
    margin-bottom: 3%;
}
#submit_button{
    width: 20%;
}
#login_button{      
    width: 20%;
}
label{
    margin-right: 5%;
}
    
form input{    
    width: 70%;
}
button{
    margin: 10px;    
}

/* Body Styling */

body{
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}


ul{
    list-style: none;
    width: 250px;
    margin: 0 auto;
}

.views{
    margin-top: 5%;
}

li{
    text-decoration: none;
    display: inline;
    margin: 3% 3% ;
    font-weight: 800;
}




#info1, #info2, #info3{    
    float: left;  
    margin-left: 2%; 
}

#list_view, #lalit_div, #taj_div{
    text-decoration: none;
    margin: 3% 4%;
    width: 40%;
    margin-bottom: 4%;
    background-color: lightgray;
    display: inline-block;
    max-width: 100%;
    color: black;    
}

li .active{
    color: black;
    border: 1px solid transparent;
    background-color: #027AFE;
    padding: 10px;   
}

.nav_link1:active ~  #map_view {
    display: block;
}

#list_view:hover{
    background-color: rosybrown;
} 
#lalit_div:hover{
    background-color: rosybrown;
}
#taj_div:hover{
    background-color: rosybrown;
}

#map{
    position: relative;
    padding-bottom: 5%;
}

#main_Container{
    height: 100%;
    width: 100%;
}

#radisson, #lalit, #taj{
    float: left;
    height: 200px;
    width: 250px;
}

/* Footer Styling */

footer section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;    
    background-color: rosybrown;
}

#fb, #insta, #twitter{
    height: 20px;
    width: 22px;
}

#copyright{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 10px;
    color: black;
}
.social{
    margin-right: 1%;
    position: fixed;
    right: 10px;
    bottom: 15px;
}

/* Media Queries */
@media only screen and (max-width: 576px){
    *{
        font-size: 10px;
    }

    
    nav{        
        position: absolute;
        top:1px;        
        font-weight: bold;
    }
    ul{
        width: 35%;
       
    }
    .views{        
        margin-top: 20%;        
    }
    
    #list_{
        display: flex;
        flex-direction: column;    
    }  
    #info3{
        margin-top: 0px;
    }
    #list_view, #lalit_div, #taj_div{
        margin-left: 0px;        
        width: 100%;
    }
    #taj_div{        
        margin-bottom: 20%;        
    }
    #map_view{
        position: absolute;
        top:200px;
        bottom: 0px;
        width: 100%;
    }
    #maps{
        height: 300px;
        width: 100%;
        margin-top: 0px;
    }

    #radisson, #taj, #lalit{
        width: 100%;
    }   

    #copyright{
        font-size: 9px;
    }
    footer section button{
        position: absolute;
        top: 3px;
        height: 35%;
        width: 16%;      
    }
    .social{
        position: absolute;
        top: 20px;
    }


}

@media only screen and (min-width: 577px) and (max-width: 768px){

    
    .views{
        margin-top: 15%;
    }

    ul{
        width: 35%;       
    }

    #list_{
        display: flex;
        flex-direction: column;    
    }  

    #list_view, #lalit_div, #taj_div{
        margin-left: 5%;     
        width: 90%;
    }
    #taj_div{        
        margin-bottom: 5%;        
    }

    #map_view{
        position: absolute;
        top:200px;
        bottom: 0px;
        width: 100%;
    }
    #maps{
        height: 300px;
        width: 100%;
        margin-top: 0px;
    }


    #copyright{
        font-size: 12px;
    }
    
    .social{
        position: absolute;
        top: 20px;
    }
}

@media only screen and (min-width:769px) and (max-width: 1279px){

    .views{
        margin-top: 11%;
    }

    #list_view, #lalit_div, #taj_div{
        margin-left: 5%;     
        width: 90%;
    }

    #map_view{
        position: absolute;
        top:200px;
        bottom: 0px;
        width: 100%;
    }
    #maps{
        height: 400px;
        width: 100%;
        margin-top: 0px;
    }

    #copyright{
        font-size: 12px;
    }
}


