html{
    height: 100%;
    width: 100%;
    margin: 0;
}
header{
    background-color: rosybrown;
}
body{
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
}
footer{
    background-color: rosybrown;
}
#list_view{
    margin: 2%;
    width: 40%;
    background-color: rgb(132, 136, 139);
}
#lalit_div{
    margin: 2%;
    width: 40%;
    background-color: rgb(132, 136, 139);
}
#taj_div{
    margin: 2%;
    width: 40%;
    background-color: rgb(132, 136, 139);
}
#main_Container{
    height: 100%;
    width: 100%;
}
#logo{
    height: 60px;
    width: 60px;
}
#radisson{
    height: 200px;
    width: 250px;
}
#lalit{
    height: 200px;
    width: 250px;
}
#taj{
    height: 200px;
    width: 250px;
}
#fb{
    height: 20px;
    width: 22px;
}
#insta{
    height: 20px;
    width: 22px;
}
#twitter{
    height: 20px;
    width: 22px;
}
