html{
    height: 100%;
    width: 100%;
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    width: 100%;    
    position: fixed;
    top: 0;
    background-color: rosybrown;
}

#payDivInfo{
    display: flex;
    flex-direction: row;
}

nav{
    position: fixed;
    right: 1%;    
    margin-bottom: 2%;
}
#nav_link{
    text-decoration: none;
    color: black;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.form_grp{
    display: flex;
    flex-direction: row;    
    justify-content: flex-start;
    align-items: center;
      
}
.modal-footer1{
    display: flex;
    justify-content: center;
    align-content: center; 
    align-items: center;
}
.modal-footer2{
    display: flex;    
    justify-content: flex-end;
    align-content: flex-end;
}

label, input{
    margin-bottom: 3%;
}
#submit_button{
    width: 20%;
}
#login_button{      
    width: 20%;
}
label{
    margin-right: 5%;
}
    
form input{
    
    width: 70%;
}
button{
    margin: 10px;    
}

body{
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}

footer section{
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;    
    background-color: rosybrown;
}

#main_Container{
    height: 100%;
    width: 100%;
    margin-top: 6%;
}
section{
    display: flex;
    flex-direction: column;
}

#hotel_div{
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 50%;
    margin: 0 auto;
    background-color: rgb(132, 136, 139);
    margin-top: 2%;
    margin-bottom: 2%;    
}
.hotel_info{
    margin-top: 10%;
    margin-left: 5%;
    float: left;
}
article, #payDivInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rosybrown;    
    padding: 1% 2% 1% 2%;
    margin-left: 2%;
    margin-right: 2%    
}

#payDivInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

#info_div{
    margin: 2%;
}

#tariff_div{
    margin: 2%;
   
}    

#logo{
    height: 60px;
    width: 60px;
}

#radisson{
    float: left;
    height: 270px;
    width: 370px;
}

#pay{
    text-decoration: none; 
    color: black;
    width: 10%;
}

#fb, #insta, #twitter{
    height: 20px;
    width: 22px;
}

#copyright{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 10px;
    color: black;
}
.social{
    margin-right: 1%;
    position: fixed;
    right: 10px;
    bottom: 15px;
}

/* Media Queries */

@media only screen and (max-width: 576px){

    *{
        font-size: 10px;
    }
    
    nav{        
        position: absolute;
        top:8px;        
        font-weight: bold;
    }

    #hotel_div{ 
        display: flex;
        flex-direction: row;  
        margin-top: 15%; 
        width: 100%;
        margin-right: 0px;
    }
    .hotel_info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
        margin-top: 12%;
        margin-left: 0px;
        width: 50%;
    }
    #payDivInfo{
        width: 100%;
        margin: 0 auto;
    }

    #radisson{     
        height: 30%;        
        width: 50%;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }
    #payDivInfo{
        width: 95%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rosybrown;        
        margin-bottom: 20%;   
    }

    #info_div{
        margin: 0px;
        margin-top: 10%;
        text-align: center;
    }
   
    #tariff_div{
        text-align: center;       
    }
    
    article{
        display: flex;
        flex-direction: column;
    }
    
    #pay{
        width: 20%;
        margin: 0 auto;
        margin-top: -25px;
        margin-bottom: 5px;
    }
    

    #copyright{
        font-size: 9px;
    }
    footer section button{
        position: absolute;
        top: 8px;        
        width: 22%;      
    }
    .social{
        position: absolute;
        top: 20px;
    }
}

    @media only screen and (min-width: 577px) and (max-width: 768px){
        
        #radisson{            
            width: 50%;
            margin: 0 auto;
        }
        section{
            margin-top: 15%;
        }
        #hotel_div{
            margin-top: 20%;
            display: flex;
            flex-direction: row; 
            justify-content: center; 
            align-items: center; 
            width: 90%;
            margin: 0 auto;
            margin-bottom: 5%;            
        }

        #info_div{
            width: 80%;
        }

        #tariff_div{
            width: 80%;
        }
        .hotel_info{
            margin-top: 0px;            
            text-align: left;           
        }

        #pay{
            font-size: 20px;
            width: 20%;
        }

        #copyright{
            font-size: 15px;
        }              
    }

    @media only screen and (min-width:769px) and (max-width: 1279px){

        #radisson{            
            width: 100%;
            height:50% ;
            margin: 0 auto;
        }
        
        #hotel_div{
            margin-top: 20%;
            display: flex;
            flex-direction: row; 
            justify-content: center; 
            align-items: center; 
            width: 90%;
            height: 50%;
            margin: 5% auto;
            margin-bottom: 5%;            
        }

       
        .hotel_info{
            margin-top: 5px;
            margin-left: 0px;            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: left;
            width: 90%;
        }

        #pay{
            font-size: 20px;
            width: 20%;
        }
        

        #copyright{
            font-size: 15px;
        }    
    }
